<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>for the people...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/skel-layers.min.js"></script>
    <script src="./js/init.js"></script>
    <noscript>
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/skel.css" />
        <!-- <link rel="stylesheet" href="css/style-xlarge.css" /> -->
        <link rel="stylesheet" href="css/style-large.css" />
        <!-- <link rel="stylesheet" href="css/style-xsmall.css" /> -->
        <link rel="stylesheet" href="css/style.css" />
    </noscript>
    <style media="screen">
      #footer{
        text-align: center;
        padding: 0;
        height: 25vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      #pitch {
        height: 65vh;
      }
      .logo-div {
        height: 100%;
      }
      .logo {
        width: 20vw;
      }
      .wording {

      }
      .end-of-page {
        height: 10vh;
        background: #383b43
      }
    </style>
  </head>
  <body>
    <div class='main'>
      <div id='pitch'>
        <section id="video_section">
          <div class="vid-class">
            <iframe src="https://player.vimeo.com/video/227280174" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
          </div>
        </section>
      </div>
      <footer id='footer'>
          <div class="logo-div">
            <img class="logo" src="./images/ALTcongress_LOGO_V-H-OL_V.png" alt="something else"/>
          </div>
          <div class="wording">
            <h2>More Coming Soon</h2>
            <a href="mailto:info@altcongress.org">Contact Us</a>
          </div>
      </footer>
      <div class="end-of-page">

      </div>
    </div>
  </body>
</html>
