<!DOCTYPE html>
<!-- TODO: Add this to dev.altcongress -->
<html lang="en" ng-app="altCong" class="global xlarge large medium small">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105333969-2"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-105333969-2');
      </script>
      <title>for the people...</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
      <script type="text/javascript" src="/app2.js"></script>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/skel.min.js"></script>
      <script src="/js/skel-layers.min.js"></script>
      <script src="/js/init.js"></script>
      <noscript>
        <link href="./css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/skel.css" />
        <!--TODO clean up the html-->
        <!-- <link rel="stylesheet" href="css/style-xlarge.css" /> -->
        <link rel="stylesheet" href="css/style-large.css" />
        <!-- <link rel="stylesheet" href="css/style-xsmall.css" /> -->
        <link rel="stylesheet" href="css/style.css" />
      </noscript>
      <base href="/">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>

    <body ng-controller="mainController as ctrl">
      <header id="header">
        <h1 ng-click="ctrl.clearScreen(); ctrl.showHomePage = true"> <a><img class="main-logo" src="./images/ALTcongress_LOGO_V_H-OL_H2.png" alt=""></a></h1>        <nav id="nav">
          <ul>
            <li ng-click="ctrl.clearScreen(); ctrl.showHomePage = true"  class="" >Pitch</li>
            <li ng-click="ctrl.clearScreen(); ctrl.showDetailsPage = true" id="navButtonDetails" class=""> Details </li>
            <li ng-click='ctrl.clearScreen(); ctrl.showMissionPage = true' class="" >Mission</li>
            <li ng-click="ctrl.clearScreen(); ctrl.showQuestionsPage = true" class ="" >Questions</li>
            <li ng-click="ctrl.clearScreen(); ctrl.showGetInvolvedPage = true"  class="button special">Get Involved</li>
          </ul>
        </nav>
      </header>
        <!-- This will send you to the main.html -->
        <ng-include class="main" src="'./partials/main.html'"></ng-include>
        <!--<ng-view></ng-view>        -->
    </body>
</html>
