<section id="main" class="wrapper">
    <div class="container">
      <br>
        <a href="#" class="image fit"><img src="./images/ac-background.png" alt=""></a>
        <header class="major">
          <h2 id="details-header">An Alternate Congress</h2>
          <p id="details-subheader">A plan to return power to the voters</p>
        </header>
        <div class="first-details">
          <p><span id="imagine">Imagine</span> a collaborative legislative body fueled by technology, driven by facts and empowered by the will of the people. An organization that will be committed to informing <em>all</em> citizens on <em>all</em> pertinent facts and devoid of any editorial bias.  A law-making body whose sole purpose is to draft and recommend laws that will take on the challenges of the 21st century;  laws that will be drafted with complete transparency, free of pork and quid-pro-quo earmarks. </p>

          <p>ALTcongress will facilitate the creation (and ultimately the enactment) of laws that are not influenced by anyone individual, group or party ideology and return our government to the people.</p>
        </div>


        <h3 id="p-p-d-header"><!--Like many organizations today,-->Our long term success and sustainability will be driven by three things: </h3>

        <div class="p-p-d">
          <div class="">
            <h4>People</h4>
            <p>This idea begins with not only the most talented people but with people who are committed to objectively serving the greater good. While staffing this organization with the best people is essential, it will be equally if not more important, to find those who can set aside their personal views and commit to the process of finding pragmatic solutions to the challenges our country faces.</p>
          </div>

          <div class="">
            <h4>Process</h4>
            <p>It’s one thing to define a mission and list a set of values, it is another thing to build a culture where values are embodied in how everything is done. The implied spirit of how this organization will work must be second nature to all staff, supporters, collaborators and citizens alike.</p>
          </div>

          <div class="">
            <h4>Design</h4>
            <p>The internet has always held the promise of being the greatest intermediary the world has ever known. In just two decades, we have only begun to scratch the surface of its network potential. How collaborators, citizens and staff interact with our technology must be effortless. Interaction with our new alternate congress will be a public service and our public servants will not have their time further taxed by frustrating technology.</p>
          </div>
        </div>

        </br>

        <h3 id="how-will-it-work">How will it work?</h3>
        <ul id="how-list">
          <li>A list of public challenges will be seeded by an advisory board whereby citizens will prioritize and recommend possible solutions to the challenges.</li>
          <li>Once an issue reaches a critical mass, the ALTcongress staff will engage subject matter experts and facilitate the collaborative process of drafting a proposed bill. Our team will raise questions, start a dialogue with the community and develop educational materials.</li>
          <li>The bill, educational material and even the process will be continually refined based on feed-back from the community. Only when a super-majority of those who have collaborated on the bill are in agreement will a bill move forward.</li>
          <li>Visualization tools will track support of the bill by district and demographics in real-time. Like a jury, citizens will debate, vote and repeat until the ALTcongress community comes to a consensus.</li>
          <li>ALTcongress will then track each and every elected representative who votes for and against our crowd-sourced bills. Bills that were drafted in complete transparency and refined until they had broad support among the American people. Compelling our elected representatives to choose between their constituents and the many special interests who fund them.</li>
        </ul>

      </div>
    </div>
</section>
