<header id="header2" >
            <ng-include class="nav-class" src="'./partials/nav.html'"></ng-include>
        </header>
        <div id="pitch" ng-show="ctrl.showHomePage">
        <!-- this will be the video -->
            <section id="video_section">
                <ng-include class="vid-class" src="'./partials/video.html'"></ng-include>
            </section>
            <section id="pitch">

            </section>
        </div>
        <div id="details" ng-show="ctrl.showDetailsPage">
            <ng-include class="details" src="'./partials/details.html'"></ng-include>
        </div>
        <div id="mission" ng-show="ctrl.showMissionPage">
            <ng-include class="mission" src="'./partials/mission.html'"></ng-include>
        </div>
        <div id="questions" ng-show="ctrl.showQuestionsPage">
            <ng-include class="questions" src="'./partials/questions.html'" ></ng-include>
        </div>
        <div id="get-involved" ng-show="ctrl.showGetInvolvedPage">
            <ng-include class="get-involved" src="'./partials/form.html'"></ng-include>
        </div>
        <footer id=footer>
            <div class="container">
                <section class="links">
                    <div class="row" id="senate-house">
                        <section class="3u 6u (medium) 12u$(small)">
                            <h3>Senate</h3>
                            <ul class="unstyled">
                                <li><a href="#">Pending Bills</a></li>
                                <li><a href="#">Directory</a></li>
                                <li><a href="#">Leadership</a></li>
                            </ul>
                        </section>
                        <section class="3u 6u$ (medium) 12u$(small)">
                            <h3>House</h3>
                            <ul class="unstyled">
                            <li><a href="#">Pending Bills</a></li>
                            <li><a href="#">Directory</a></li>
                            <li><a href="#">Leadership</a></li>
                            </ul>
                        </section>

                    </div>
                </section>
                <div class="row">
                    <div class="8u 12u$(medium)">
                        <ul class="copyright">
                            <li>ALTcongress. All rights reserved.</li>
                        </ul>
                    </div>
                    <div class="4u$ 12u$(medium) ">
                        <ul class="icons">
                            <li>
                                <a class="icon rounded fa-facebook"><span class="label" >Facebook</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-twitter"><span class="label" >Twitter</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-google-plus"><span class="label" >Google+</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-linkedin"><span class="label" >LinkedIn</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
        <div id="skel-layers-hiddenWrapper" style="height: 100%" >
            <div id="navPanel" class="skel-layer" style="backface-visibility: hidden; transition: -webkit-transform 0.5s ease, opacity 0.5s ease; z-index: 10000; position: fixed; display: none; overflow-y: auto; overflow-x: hidden; transform: translate(0px, 0px);">
                <div data-action="moveElement" data-args="nav">
                    <nav id="nav" class="skel-layers-moved">
                        <ul>
                            <li><a href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Home</a></li>
                            <li><a href="generic.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Generic</a></li>
                            <li><a href="elements.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Elements</a></li>
                            <li><a href="#" class="button special" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="skel-layers-visibleWrapper" style="position: relative;">
            <div id="navButton" class="skel-layer skel-layer-top-left" style="backface-visibility: hidden; transition: -webkit-transform 0.5s ease, opacity 0.5s ease; z-index: 10002; position: fixed; display: block; top: 0px; left: 0px; transform: translate(0px, 0px); width: 6em; height: 4em;">
                <span class="toggle" data-action="toggleLayer" data-args="navPanel" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"></span>
            </div>
        </div>
