<header id="header" >
            <ng-include class="nav-class" src="'./partials/nav.html'"></ng-include>
        </header>
        <div id="pitch" ng-show="ctrl.showHomePage">
        <!-- this will be the video -->
            <section id="video_section">
                <ng-include class="vid-class" src="'./partials/video.html'"></ng-include>
            </section>
            <section id="pitch">
                
            </section>
        </div>
        <div id="details" ng-show="ctrl.showDetailsPage">
            <ng-include class="details" src="'./partials/details.html'"></ng-include>
        </div>
        <div id="mission" ng-show="ctrl.showMissionPage">
            <ng-include class="mission" src="'./partials/mission.html'"></ng-include>
        </div>
        <div id="questions" ng-show="ctrl.showQuestionsPage">
            <ng-include class="questions" src="'./partials/questions.html'" ></ng-include>
        </div>
        <div id="get-involved" ng-show="ctrl.showGetInvolvedPage">
            <ng-include class="get-involved" src="'./partials/form.html'"></ng-include>
        </div>
        <footer>
            
        </footer>