<section id="main" class="wrapper">
     <div class="container"> 
        <header class="major2">
         <h3>Mission and Vision</h3> 
        </header>
         <dl>
            <dt><u><b>VISION</b></u></dt>
            <dd style="margin-left: 40px">To foster a more open-minded and collaborative electorate willing to let go of ideological theory and debate facts in the search for pragmatic legislation.</dd>
            <dt style="margin-left: 10px"><u><b>MISSION</b></u></dt>
            <dd style="margin-left: 50px">Facilitate the creation of non-partisan and pragmatic legislation for the people and by the people.</dd>
            <dt style="margin-left: 20px"><u><b>IMPACT</b></u></dt>
            <dd style="margin-left: 60px">An engaged and knowledgeable US electorate that prospers with greater opportunities for all.</dd>
            <dt style="margin-left: 30px"><u><b>VALUES</b></u></dt>
            <dd style="margin-left: 70px">Collaboration, Equity, Community, Respect, Citizenship, Reason, Character, Innovation</dd>
        </dl>
    </div>
</section>