<section id="main" class="wrapper">
     <div class="container">
        <header class="major2">
         <h3>Mission and Vision</h3>
        </header>
         <ul class="missionList">
           <li>
             <h3 class="mission">Vision</h3>
             <h4 class="answer" >To foster a more open-minded and collaborative electorate willing to let go of ideological theory and debate facts in the search for pragmatic legislation.</h4>
           </li>
           <li>
             <h3 class="mission">Mission</h3>
             <h4 class="answer">Facilitate the creation of non-partisan and pragmatic legislation for the people and by the people.</h4>
           </li>
           <li>
             <h3 class="mission">Impact</h3>
             <h4 class="answer">An engaged and knowledgeable US electorate that prospers with greater opportunities for all.</h4>
           </li>
           <li>
             <h3 class="mission">Values</h3>
             <h4 class="answer">Collaboration, Equity, Community, Respect, Citizenship, Reason, Character, Innovation</h4>
           </li>
        </ul>
    </div>
</section>
