<!-- This is the nav bar -->

<!-- NEED TO ADD A HOME LINK TO THE H1 -->
<!-- <header> -->
<h1> <A>ALTcongress</A></h1>
<nav id="nav">
    <ul>
        <!-- WHERE DOES PTCH TAKE ME -->
        <li>Pitch</li>

        <!-- WHERE DOES DETAILS TAKE ME -->
        <li>Details</li>  

        <!-- WHERE DOES MISSION TAKE ME -->
        <li>Mission</li> 

        <!-- WHERE DOES QUESTIONS TAKE ME -->
        <li>Questions</li>  

        <!-- WHERE DOES GET INVOVED TAKE ME -->
        <li>Get Involved</li>  
    </ul>
</nav>
    
<!-- </header> -->