<!-- This is the nav bar -->

<!-- NEED TO ADD A HOME LINK TO THE H1 -->
<!-- <header> -->
<h1 ng-click="ctrl.clearScreen(); ctrl.showHomePage = true"> <A>ALTcongress</A></h1>
<nav id="nav">
    <ul>
        <!-- WHERE DOES PTCH TAKE ME -->
        <li ng-click="ctrl.clearScreen(); ctrl.showHomePage = true" class="" ><a href="">Pitch</a></li>

        <!-- WHERE DOES DETAILS TAKE ME -->
        <li ng-click="ctrl.clearScreen(); ctrl.showDetailsPage = true" class="" > <a href="">Details</a> </li>  

        <!-- WHERE DOES MISSION TAKE ME -->
        <li ng-click='ctrl.clearScreen(); ctrl.showMissionPage = true' class="" ><a href="">Mission</a></li> 

        <!-- WHERE DOES QUESTIONS TAKE ME -->
        <li ng-click="ctrl.clearScreen(); ctrl.showQuestionsPage = true" class ="" ><a href="">Questions</a></li>  

        <!-- WHERE DOES GET INVOVED TAKE ME -->
        <li ng-click="ctrl.clearScreen(); ctrl.showGetInvolvedPage = true" class="button special" ><a href="">Get Involved</a></li>  
    </ul>
</nav>
    
<!-- </header> -->